${1:ModelName}
  .find({})
  .exec()
  .then((response) => {
    return res
      .status(200)
      .json(response);
  })
  .catch((error)=> {
    return res
      .status(500)
      .json(error);
  });