'use strict';

function ${1:controller}() {

}

var component = {
  controller: ${1:controller},
  templateUrl:''
}


angular.module('${2:ModuleName}', ${3:[]})
  .component('${4:myComponent}', component);

